In [78]:
import pandas as pd
pd.set_option('display.max_colwidth',100)
import tensorflow as tf
import tensorflow_hub as hub

# Load the Universal Sentence Encoder model
model_url = "https://tfhub.dev/google/universal-sentence-encoder/4"
embed = hub.load(model_url)
# List of sentences

In [79]:
df=pd.read_csv('movies.csv',sep=';')

In [80]:
df

,text,label
0,i didnt feel humiliated,sadness
1,i can go from feeling so hopeless to so damned hopeful just from being around someone who cares ...,sadness
2,im grabbing a minute to post i feel greedy wrong,anger
3,i am ever feeling nostalgic about the fireplace i will know that it is still on the property,love
4,i am feeling grouchy,anger
...,...,...
15995,i just had a very brief time in the beanbag and i said to anna that i feel like i have been beat...,sadness
15996,i am now turning and i feel pathetic that i am still waiting tables and subbing with a teaching ...,sadness
15997,i feel strong and good overall,joy
15998,i feel like this was such a rude comment and im glad that t,anger
15999,i know a lot but i feel so stupid because i can not portray it,sadness

In [36]:
# sentence piece transformers not working

In [47]:
df.label

0      sadness
1      sadness
2        anger
3         love
4        anger
5      sadness
6     surprise
7         fear
8          joy
9         love
10     sadness
11         joy
Name: label, dtype: object

In [81]:



# Generate embeddings
sentence_embeddings = embed(df.text)

# Convert the embeddings to numpy array and display
sentence_embeddings
embeddings_np = sentence_embeddings.numpy()
print(embeddings_np)

[[-0.07612675  0.05169338 -0.04448839 ... -0.03655213  0.02639799
  -0.04209598]
 [-0.00037339 -0.07363009 -0.06127917 ...  0.0458386  -0.02926714
   0.04867256]
 [ 0.00608008 -0.04115541  0.03326916 ... -0.00403774 -0.04005855
   0.048221  ]
 ...
 [-0.06014417 -0.02979074 -0.00866889 ...  0.01569857  0.00458703
  -0.03377096]
 [ 0.0219196   0.07054035  0.03247572 ... -0.00276038 -0.03022943
   0.03450019]
 [-0.01201028  0.01569489  0.02039644 ... -0.08011199  0.03119087
   0.03025111]]

In [82]:

# Generate embeddings
sentence_embeddings = embed(df.text)

# Convert the embeddings to numpy array and display

In [83]:
sentence_embeddings
embeddings_np = sentence_embeddings.numpy()
print(embeddings_np)

[[-0.07612675  0.05169338 -0.04448839 ... -0.03655213  0.02639799
  -0.04209598]
 [-0.00037339 -0.07363009 -0.06127917 ...  0.0458386  -0.02926714
   0.04867256]
 [ 0.00608008 -0.04115541  0.03326916 ... -0.00403774 -0.04005855
   0.048221  ]
 ...
 [-0.06014417 -0.02979074 -0.00866889 ...  0.01569857  0.00458703
  -0.03377096]
 [ 0.0219196   0.07054035  0.03247572 ... -0.00276038 -0.03022943
   0.03450019]
 [-0.01201028  0.01569489  0.02039644 ... -0.08011199  0.03119087
   0.03025111]]

In [84]:
embeddings_np .shape

(16000, 512)

In [91]:
embeddings_np

array([[-0.07612675,  0.05169338, -0.04448839, ..., -0.03655213,
         0.02639799, -0.04209598],
       [-0.00037339, -0.07363009, -0.06127917, ...,  0.0458386 ,
        -0.02926714,  0.04867256],
       [ 0.00608008, -0.04115541,  0.03326916, ..., -0.00403774,
        -0.04005855,  0.048221  ],
       ...,
       [-0.06014417, -0.02979074, -0.00866889, ...,  0.01569857,
         0.00458703, -0.03377096],
       [ 0.0219196 ,  0.07054035,  0.03247572, ..., -0.00276038,
        -0.03022943,  0.03450019],
       [-0.01201028,  0.01569489,  0.02039644, ..., -0.08011199,
         0.03119087,  0.03025111]], dtype=float32)

In [92]:
dim=embeddings_np.shape[1]

In [93]:
import faiss
index=faiss.IndexFlatL2(dim)

In [94]:
index.add(embeddings_np)

In [95]:
search_query=["I want to kill all the person in the world"]
vec=embed(search_query)
vec=vec.numpy()#we want dimension 1,512

In [96]:
vec.shape

(1, 512)

In [97]:
distances,i=index.search(vec,k=2)# first one is the distances and second one is the array index

In [99]:
df.loc[i[0]]

,text,label
13476,i feel violent wanna kill someone anyone or kiss them,anger
4527,i feel threatened by anyone i get this feeling that i want to kill someone,fear

In [100]:
search_query

['I want to kill all the person in the world']

In [101]:
search_query=["A doctor is very kind person and also them is helpful"]
vec=embed(search_query)
vec=vec.numpy()#we want dimension 1,512
distances,i=index.search(vec,k=2)# first one is the distances and second one is the array index
df.loc[i[0]]

                                    text     label
8693               i feel amazing doctor  surprise
14488  i feel very valued by my patients       joy

In [106]:
search_query=["We are in the same boat wherever we  going to"]
vec=embed(search_query)
vec=vec.numpy()#we want dimension 1,512
distances,i=index.search(vec,k=2)# first one is the distances and second one is the array index
df.loc[i[0]]

,text,label
4525,i feel like i am the only person who is not ecstatic to be here right now,joy
2355,i feel like i am not alone,sadness

In [108]:
# Above we are doing stuff Method

In [ ]:
# Map reduce method  (In this methid we call individual llm to chunks)

In [107]:
# RetrievalQAwithSOurcesChain